<header>
  <img src="../../../assets/banderaEcuador.png" alt="banderaEcuatoriana" />
  <h1><img src="../../../assets/fundation1.png" />MEET MNT LATAM</h1>
  <img src="../../../assets/banderaAlemania.png" alt="BanderaAlemana" />
</header>
<div class="container">
  <div class="img-container">
    <img src="../../../assets/assesory.png" alt="">
    <img src="../../../assets/a" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>

</div>
<footer>
  <p>Derechos de autor &copy; 2024 | MEET MNT LATAM</p>
</footer>
