header {
  font-weight: bold;
  color: #0d4373;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h1 {
  font-size: 34px;
  display: flex;
  align-items: center;
}

header h1 img {
  height: 80px; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-right: 20px; /* Ajusta el espacio entre la imagen y el texto */
  opacity: 1;
}

header img {
  height: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
  opacity: 0.2; /* Cambia la opacidad de las imágenes */
  margin-right: 10px; /* Ajusta el espacio entre la imagen y el texto */
}

/* Collage de fotos */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 0 20px 0 20px;
}

main img {
  max-width: 40%;
  height: auto;
  margin-right: 20px;
}

.span1{
  color: #0d4373;
  font-weight: bold;
}
.span2{
  color: #0d4373;
  font-size: large;
}
main p {
  font-size: x-large;
  padding: 100px;
  text-align: justify;
  line-height: 1.6;
  color: #333;
}

button {
  background-color: #0d4373;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

button:hover {
  background-color: #41617c;
}

footer {
  background-color: #0d4373;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #fff;
}
