<header>
  <img src="../../../assets/banderaEcuador.png" alt="banderaEcuatoriana" />
  <h1><img src="../../../assets/fundation1.png" />MEET MNT LATAM</h1>
  <img src="../../../assets/banderaAlemania.png" alt="BanderaAlemana" />
</header>
<main>
  <img src="../../../assets/imagenWeb3.png" alt="" />

  <p>
    <span class="span1">MEET MNT LATAM</span> es una empresa legalmente constituida en Ecuador que trabaja
    para toda América Latina y el Caribe. Nuestra empresa brinda asesoría y
    acompañamiento en el proceso migratorio hacia Alemania, Austria y otros
    países que pertenecen a la Unión Europea.
    <br />
    Con nuestra sede en Alemania y con las alianzas estratégicas construidas
    durante años podemos dar oportunidades laborales a los latinoamericanos que
    quieran trabajar, estudiar y vivir en Alemania. El mejor soporte de nuestros
    accionar es promover una migración digna y segura. <br />
    <span class="span2">Para saber mas sobre los requisitos descarga el siguiente PDF</span><br />
    <a href="../../../assets/PRESENTACIÓN MEET MNT LATAM.pdf" download="MEET MNT LATAM"><button>Descargar</button></a>
  </p>
</main>
<footer>
  <p>Derechos de autor &copy; 2024 | MEET MNT LATAM</p>
</footer>
