<app-header></app-header>

<div class="container">
    <div class="contacto">

        <div class="info-contacto">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h2>Información de contacto</h2>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><img src="https://cdn.icon-icons.com/icons2/739/PNG/512/phone-call-3_icon-icons.com_63260.png" alt="Teléfono"> <strong>Teléfono:</strong> +593 96 090 1967</li>
                                <li><img src="https://cdn-icons-png.freepik.com/512/122/122940.png" alt="Correo"> <strong>Correo electrónico:</strong> <a href="mailto:info@fundacionejemplo.org">fundacionnuevoporvenir1@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h2>Horario de atención</h2>
                        </div>
                        <div class="card-body">
                            <p><img src="https://png.pngtree.com/png-clipart/20230805/original/pngtree-clock-flat-blue-color-icon-hour-schedule-blue-icon-vector-picture-image_9681505.png" alt="Horario"> Nuestro horario de atención es de lunes a viernes, de 9:00 a.m. a 5:00 p.m.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h2>Encuéntranos en las redes sociales</h2>
                        </div>
                        <div class="card-body">
                            <ul class="redes-sociales">
                                <li><a href="#"><img src="https://static.vecteezy.com/system/resources/previews/023/986/516/non_2x/facebook-logo-facebook-logo-transparent-facebook-icon-transparent-free-free-png.png" alt="Facebook"> Facebook - Fundación Nuevo Porvenir</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h2>Ubicación</h2>
                        </div>
                        <div class="redes">
                            <p><img src="https://images.vexels.com/media/users/3/153203/isolated/preview/8072e236bc2318134e3045947a6b9457-pin-de-ubicacion-icono-de-trazo-de-color.png" alt="Ubicación"> Av 10 de agosto y Feliciano Checa, Quito, Ecuador</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
