.container {
  padding: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #111111;
  text-align: justify;
}

.contacto {
background-color: #fff;
border-radius: 10px;
padding: 20px;
box-shadow: 0 0 40px rgba(9, 238, 89, 0.1);
}

.contacto h1 {
margin-top: 20px;
}

.contacto ul {
list-style-type: none;
padding: 0;
}

.contacto ul li {
margin-bottom: 10px;
display: flex; /* Hace que los elementos de la lista sean flexibles */
align-items: center; /* Alinea verticalmente los elementos de la lista */
}

.contacto ul li strong {
display: inline-block;
width: 150px;
color: #000;
}

.contacto a {
color: #000;
text-decoration: none;
}

.redes-sociales img,
.card-body img,
.redes img,
.contacto ul li img { /* Aplica las reglas de tamaño a las imágenes dentro de los elementos li */
width: 30px; /* Define el ancho de la imagen */
height: auto; /* Mantiene la proporción de aspecto */
margin-right: 10px;
}

.card-header {
border-radius: 20px;
background-color: #13b57f;
}

h2 {
color: #fff;
font-family: 'Open Sans', sans-serif;
}

p {

  padding-top: 10px;
  }
