<app-header></app-header>


<section class="form_wrap">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.790960021808!2d-78.50459572596023!3d-0.21218853539341795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bb203b9b38f%3A0x2b8ac2dbcb46d367!2sLexSocietatis!5e0!3m2!1ses!2sec!4v1715109185078!5m2!1ses!2sec"
        width="600" height="650" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="contact-info">
        <div class="contact-details">

            <div class="contact-section">
                <div class="section-header">
                    <h2>Información de contacto</h2>
                </div>
                <div class="section-content">
                    <ul>
                        <li><img src="https://cdn.icon-icons.com/icons2/739/PNG/512/phone-call-3_icon-icons.com_63260.png"
                                alt="Teléfono"> <strong>Teléfono: </strong> +593 960901967</li>
                        <li><img src="https://cdn-icons-png.freepik.com/512/122/122940.png" alt="Correo">
                            <strong>Gmail:</strong> <a
                                href="mailto:info@fundacionejemplo.org">fundacionnuevoporvenir1@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="contact-section">
                <div class="section-header">
                    <h2>Horario de atención</h2>
                </div>
                <div class="section-content">
                    <p><img src="https://png.pngtree.com/png-clipart/20230805/original/pngtree-clock-flat-blue-color-icon-hour-schedule-blue-icon-vector-picture-image_9681505.png"
                            alt="Horario"> Nuestro horario de atención es de lunes a viernes <br> De 9:00 a.m. a 5:00
                        p.m.
                    </p>
                </div>
            </div>

            <div class="contact-section">
                <div class="section-header">
                    <h2>Encuéntranos en las redes sociales</h2>
                </div>
                <div class="section-content">
                    <ul>
                        <li><a href="https://www.facebook.com/Fundacionnuevoporvenir?locale=es_LA"><img
                                    src="https://static.vecteezy.com/system/resources/previews/023/986/516/non_2x/facebook-logo-facebook-logo-transparent-facebook-icon-transparent-free-free-png.png"
                                    alt="Facebook" > Facebook - Fundación Nuevo Porvenir</a></li>
                    </ul>
                </div>
            </div>

            <div class="contact-section">
                <div class="section-header">
                    <h2>Ubicación</h2>
                </div>
                <div class="section-content">
                    <p><img src="https://images.vexels.com/media/users/3/153203/isolated/preview/8072e236bc2318134e3045947a6b9457-pin-de-ubicacion-icono-de-trazo-de-color.png"
                            alt="Ubicación"> Av 10 de agosto y Feliciano Checa, Quito, Ecuador</p>
                </div>
            </div>

        </div>
    </div>


</section>

<section class="form_wrap">

    <section class="cantact_info">
    </section>

    <form (ngSubmit)="submitForm()" class="form_contact">
        <h2>Si tienes alguna pregunta acerca de la fundación "NUEVO PORVENIR", contáctanos...</h2>
        <div class="user_info">
            <div class="left-column">
                <label for="name">Nombres *</label>
                <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>

                <label for="email">Correo electrónico *</label>
                <input type="text" id="email" name="email" [(ngModel)]="formData.email" required>

                <label for="phone">Teléfono / Celular</label>
                <input type="text" id="phone" name="phone" [(ngModel)]="formData.phone">
            </div>
            <div class="right-column">
                <label for="comment">Mensaje *</label>
                <textarea id="comment" name="comment" [(ngModel)]="formData.comment" required></textarea>

                <div class="submit-button">
                    <input type="submit" value="Enviar Mensaje" id="btnSend">
                </div>
            </div>
        </div>
    </form>


</section>

<app-footer></app-footer>