.encabezado {
    text-align: center;
    background: #ffffff;
    color: #000; /* Cambiado a color negro */
    padding: .5rem 0;
    transition: all .5s ease;
}

.encabezado.fondo-menu {
    background: #064e4e;
    padding: 1rem 0;
}

.encabezado .container {
    text-align: center;
}

.encabezado .container > * {
    display: inline-block; /* Para que esté en línea */
    vertical-align: middle; /* Alinear verticalmente al centro */
    margin-right: 10px; /* Espacio entre elementos */
}

.encabezado .container > *:last-child {
    margin-right: 0; /* Eliminar margen derecho para el último elemento */
}

.encabezado .logo img {
    width: 100px;
    height: auto;
}

.boton-buscar,
.boton-menu {
    border: 0;
    font-size: 2rem;
    padding: 0 .5rem;
    background: transparent;
    color: #000; /* Cambiado a color negro */
    font-weight: bold; /* Añadido negrita */
}

.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}

.boton-buscar {
    margin-left: auto;
    margin-right: .8rem;
}

.contenedor-bloque-buscar {
    display: inline-block; /* Para que esté en línea */
    vertical-align: middle; /* Alinear verticalmente al centro */
    height: 3rem;
    margin: 1rem 0;
}

.contenedor-bloque-buscar input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
}

.contenedor-bloque-buscar input[type="submit"] {
    border: 0;
    border-radius: 0 5px 5px 0;
    background: #dbc7c7;
    color: #000; /* Cambiado a color negro */
    padding: 0 1rem;
}

#menu-principal ul {
    display: inline-block; /* Para que esté en línea */
    padding: 0;
    list-style: none;
    margin: 0;
}

#menu-principal ul li {
    display: inline-block; 
    margin-right: 10px;
}

#menu-principal ul a {
    display: inline-block; 
    padding: .8rem 1rem; 
    text-align: center;
    color: #000; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold; 
}


#menu-principal ul a:hover,
#menu-principal ul li.active a {
    background: linear-gradient(to right, #ed4a36, #17a94b, #0783ba, #fab32b, #33586d, #6dbc9f, #6691a4, #343f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}