<app-header></app-header>

<div class="card-container">

<article class="card">
    <img class="card__background" src="../../../assets/img/Fem1.png"
        alt="Photo of Cartagena's cathedral at the background and some colonial style houses" width="1920"
        height="2193" />
    <div class="card__content | flow">
        <div class="card__content--container | flow">
            <h2 class="card__title">Presidenta</h2>
            <p class="card__description">Veronica Miroslava Flores Zapata <br> C.I : 1710188143</p>

        </div>
    </div>
</article>
<article class="card">
    <img class="card__background" src="../../../assets/img/Diego Yanez.png"
        alt="Photo of Cartagena's cathedral at the background and some colonial style houses" width="1920"
        height="2193" />
    <div class="card__content | flow">
        <div class="card__content--container | flow">
            <h2 class="card__title">Vicepresidente</h2>
            <p class="card__description">Diego Alexander Yanez Flores <br>C.I : 1721877270</p>
        </div>
    </div>
</article>
<article class="card">
    <img class="card__background" src="../../../assets/img/Mas1.png"
        alt="Photo of Cartagena's cathedral at the background and some colonial style houses" width="1920"
        height="2193" />
    <div class="card__content | flow">
        <div class="card__content--container | flow">
            <h2 class="card__title">Secretario</h2>
            <p class="card__description">Diego German Yanez Molina <br>C.I : 1708270580</p>
        </div>
    </div>
</article>
<article class="card">
    <img class="card__background" src="../../../assets/img/Fem2.png"
        alt="Photo of Cartagena's cathedral at the background and some colonial style houses" width="1920"
        height="2193" />
    <div class="card__content | flow">
        <div class="card__content--container | flow">
            <h2 class="card__title">Tesorera</h2>
            <p class="card__description">Veronica Monserrate Yanez Flores<br>C.I : 1727352690</p>
        </div>
    </div>
</article>
</div>
<app-footer></app-footer>