<app-header></app-header>

<div class="container">
    <h1>Autoridades</h1>
    <div class="colaboradores">
        <div class="colaborador">
            <img src="https://cdn-icons-png.flaticon.com/128/8079/8079059.png" alt="Presidenta">
            <h2>Presidenta</h2>
            <p>Veronica Miroslava Flores Zapata</p>
            <p>C.I : 1710188143 </p>
        </div>
        <div class="colaborador">
            <img src="https://cdn-icons-png.flaticon.com/512/1198/1198293.png" alt="Vicepresidenta">
            <h2>Vicepresidente</h2>
            <p>Diego Alexander Yanez Flores</p>
            <p>C.I : 1721877270 </p>
        </div>
        <div class="colaborador">
            <img src="https://cdn-icons-png.flaticon.com/512/1198/1198293.png" alt="Secretario">
            <h2>Secretario</h2>
            <p>Diego German Yanez Molina</p>
            <p>C.I : 1708270580</p>
        </div>
        <div class="colaborador">
            <img src="https://cdn-icons-png.flaticon.com/128/8079/8079059.png" alt="Tesorera">
            <h2>Tesorera</h2>
            <p>Veronica Monserrate Yanez Flores</p>
            <p>C.I : 1727352690</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
