<app-header></app-header>
<div class="container">
    <h1>Nuestros Colaboradores</h1>
    <p class="descripcion">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur magnam
        eos nesciunt libero voluptatem esse provident reprehenderit eligendi fugiat
        sed ex ad ducimus, necessitatibus obcaecati voluptates labore eius
        accusantium delectus.
    </p>
    <div class="maxContainer">
        <div class="card-container">
            <div class="card">
                <img src="{{ menProfile }}" alt="" class="card-img" />
                <div class="card-body">
                    <h3 class="cart-title">Nombre</h3>
                    <p class="card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis saepe architecto
                        neque impedit accusantium ab veritatis possimus at molestiae, vero consequatur rem similique
                        nihil distinctio voluptas, ducimus dicta. Suscipit, culpa!</p>
                </div>
            </div>
            <p class="name">Nombre Apellido</p>
            <p class="occupation">Profesion</p>
        </div>

        <div class="card-container">
            <div class="card">
                <img src="{{ menProfile }}" alt="" class="card-img" />
                <div class="card-body">
                    <h3 class="cart-title">Nombre</h3>
                    <p class="card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis saepe architecto
                        neque impedit accusantium ab veritatis possimus at molestiae, vero consequatur rem similique
                        nihil distinctio voluptas, ducimus dicta. Suscipit, culpa!</p>
                </div>
            </div>
            <p class="name">Nombre Apellido</p>
            <p class="occupation">Profesion</p>
        </div>

        <div class="card-container">
            <div class="card">
                <img src="{{ menProfile }}" alt="" class="card-img" />
                <div class="card-body">
                    <h3 class="cart-title">Nombre</h3>
                    <p class="card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis saepe architecto
                        neque impedit accusantium ab veritatis possimus at molestiae, vero consequatur rem similique
                        nihil distinctio voluptas, ducimus dicta. Suscipit, culpa!</p>
                </div>
            </div>
            <p class="name">Nombre Apellido</p>
            <p class="occupation">Profesion</p>
        </div>
    </div>
</div>


<app-footer></app-footer>