<app-header></app-header>

<div class="texto-encabezado text-center">
  <div class="container">
    <!--Efectos wow para el diseño estetico-->
    <h1 class="display-4 wow bounceIn">Historia</h1>
    <p class="wow bounceIn" data-wow-delay=".3s">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>
<section class="agencia py-1" id="agencia">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-xl-9 wow bounceIn" data-wow-delay=".3s">
        <h2 class="h3 text-center text-md-left font-weight-bold">Historia</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit rerum officia et consequatur autem fugiat
          ullam accusamus consequuntur earum unde, libero sed dolore nam? Soluta explicabo id provident quisquam rem!.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium enim vero dolorem, magni et deserunt,
          veritatis soluta consectetur impedit vel officia aut eligendi voluptate quod similique ipsam ad? Ipsum,
          incidunt?</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 wow bounceIn" data-wow-delay=".6s">
        <img src="../../../assets/images/agencia.svg" alt="La agencia">
      </div>
    </div>
  </div>
</section>
<!--Sección de porque somos tu mejor elección-->
<section class="tu-mejor-eleccion py-1">
  <div class="container">
    <!--titulo de sección-->
    <h2 class="h3 text-center font-weight-bold">¿Un poco de la <span>Historia</span>?</h2>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
      <!--Primera parte lateral Izquierda-->
      <ul class="col-6 col-lg-4 text-center text-lg-left">
        <!--Efectos wow de acercamiento-->
        <li class="wow zoomIn" data-wow-duration=".3s" data-wow-delay=".3s">
          <i class="fa fa-briefcase" aria-hidden="true"></i>
          <div class="contenedor-eleccion">
            <h4>Historia</h4>
            <p class="d-none d-lg-flex">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </li>
        <li class="wow zoomIn" data-wow-duration=".3s" data-wow-delay=".5">
          <i class="fa fa-bullhorn" aria-hidden="true"></i>
          <div class="contenedor-eleccion">
            <h4>Historia</h4>
            <p class="d-none d-lg-flex">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </li>
        <li class="wow zoomIn" data-wow-duration=".3s" data-wow-delay=".7s">
          <i class="fa fa-briefcase" aria-hidden="true"></i>
          <div class="contenedor-eleccion">
            <h4>Historia</h4>
            <p class="d-none d-lg-flex">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </li>
      </ul>
      <!--Imagen central-->
      <div class="d-none d-lg-block col-lg-4">
        <img src="../../../assets/images/agencia.svg" alt="Mundo-movil">
      </div>
      <!--Parte lateral derecha-->
      <ul class="col-6 col-lg-4 text-center text-lg-right">
        <li class="wow zoomIn" data-wow-duration=".3s" data-wow-delay=".9s">
          <i class="fa fa-bullhorn" aria-hidden="true"></i>
          <div class="contenedor-eleccion">
            <h4>Historia</h4>
            <p class="d-none d-lg-flex">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </li>
        <li class="wow zoomIn" data-wow-duration=".3s" data-wow-delay="1.1s">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <div class="contenedor-eleccion">
            <h4>Historia</h4>
            <p class="d-none d-lg-flex">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </li>
        <li class="wow zoomIn" data-wow-duration=".3s" data-wow-delay="1.3s">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <div class="contenedor-eleccion">
            <h4>Historia</h4>
            <p class="d-none d-lg-flex">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>