

.hero-section {
  position: relative;
  background-image: url('../../../assets/img/fondo.png');
  /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
  background-size: cover;
  /* Ajusta la imagen para que cubra todo el fondo */
  background-position: center;
  /* Centra la imagen en el fondo */
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #ed4b362b, #17a94a67, #0784ba77, #fab12b77, #33586d77, #6dbc9f77, #6691a477, #343f8977);
}

.hero-content h1 {
  font-size: 3em;
  margin: 0 0 10px; /* Ajustar margen inferior */
  color: transparent;
  -webkit-text-stroke-width: 5%;
  text-shadow: 2px 2px 0 #17a94b, -2px -2px 0 #ffffff, 2px -2px 0 #fab32b, -2px 2px 0 #33586d;
}

.hero-content h1 .part1 {
  color: #ffffff;
}

.hero-content h1 .part2 {
  color: #ffffff;
}

.hero-content p {
  font-size: 2em;
  margin: 0; /* Eliminar margen */
  color: #ffffff ;
  -webkit-text-stroke-width: 5%;
  text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #0784ba, 1px -1px 0 #fab12b, -1px 1px 0 #33586d;
}



/* Estilos de la sección de información */
.content-wrapper {
  padding: 50px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.left-content {
  margin-bottom: 20px;
}

.right-content {
  display: flex;
  justify-content: center;
}

.image-collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.image-collage img {
  width: 200px;
  height: auto;
  margin: 15px;
  transition: transform 0.3s ease;
  border-radius: 20px;
}

.image-collage img:hover {
  transform: rotate(5deg);
}


.card {
  background-color: #f9f9f9;
  box-shadow: 8px 8px 8px rgba(19, 213, 42, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-content p {
  color: #666;
}