/* Estilos de la sección hero */
.hero-section {
  position: relative;
  background-color: #03A46A; /* Cambia esto al color que desees */
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  width: 100%;
  font-family: 'Poppins', sans-serif;

}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #F2A922;
}

.hero-content p {
  font-size: 1.5em;
  opacity: 0.9;
}

/* Estilos de la sección de información */
.content-wrapper {
  padding: 50px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.left-content {
  margin-bottom: 20px;
}

.right-content {
  display: flex;
  justify-content: center;
}

.image-collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.image-collage img {
  width: 200px;
  height: auto;
  margin: 15px;
  transition: transform 0.3s ease;
  border-radius: 20px;
}

.image-collage img:hover {
  transform: rotate(5deg);
}


.card {
  background-color: #f9f9f9;
  box-shadow: 8px 8px 8px rgba(19, 213, 42, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-content p {
  color: #666;
}

