<app-header></app-header>

<div class="hero-section">
  <div class="hero-content">
    <h1>NUEVO PORVENIR</h1>
    <p>Bienvenido, Fundación para la ayuda y desarrollo social</p>
  </div>
</div>

<div class="content-wrapper">
  <div class="left-content">
    <p>
      La fundación se compromete a trabajar con transparencia, ética y responsabilidad, velando siempre por el beneficio y el bienestar de aquellos a quienes servimos.
       Juntos, construiremos un futuro más justo, equitativo y lleno de oportunidades para todos.
    </p>
  </div>
  <div class="right-content">
    <div class="image-collage">
      <img src="assets/images/inicio/una.jpg" alt="Imagen 1">
      <img src="assets/images/inicio/dos.jpg" alt="Imagen 2">
      <img src="assets/images/inicio/tres.jpg" alt="Imagen 3">
    </div>
    <div class="card">
      <div class="card-content">
        <h2>Acerca de nosotros...</h2>
        <p>Nuestra fundación se erige como un bastión de apoyo para aquellos <br>
          sectores de la sociedad que enfrentan condiciones de vulnerabilidad,<br>
          promoviendo la inclusión y el fortalecimiento de loslazos comunitarios.<br><br>
          A través de acciones concretas, buscamos mejorar la calidad de vida de <br>
          niños, jóvenes, adultos mayores y personas en situación de<br> riesgo, brindándoles
          herramientas y oportunidades para su desarrollo personal y colectivo.<br><br>
          Nos comprometemos a trabajar en estrecha colaboración con diferentes <br>
          actores sociales, instituciones gubernamentales y organismos internacionales,<br>
          con el fin de generar sinergias y maximizar el impacto de nuestras  <br>
          intervenciones.<br><br> Nuestra labor se enfoca en áreas prioritarias como <br>
          la educación, la salud, el acceso a servicios básicos, la promoción<br>
          cultural y el fomento del emprendimiento, siempre con un enfoque<br>
             integral y sostenible.
          </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

